body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    padding: 20px;
}

#inputField {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}

#timer{
    font-size: 24px;
    margin: 20px 0;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: gray;
}